body{
  background-color: #FAFAFA;
  margin: auto;
  max-width: 1240px;
}
/*

img{
  max-width: 500px;
}*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.menu h1{
font-style: italic;
}

.menu li{
display:inline-block;
font-size: 20px;
padding: 10px 20px;

}

.menu li a{
  color: blue;
  text-decoration: none;
  
}
#top{
  border-bottom: solid 1px black;
}

button{
  border-radius: 5px;
  background-color: blue;
  color: antiquewhite;
  font-size: 24px;
}

button a{
  text-decoration: none;
  color: white;
}
#banner{
  margin: 50px 0px;
}


#banner h3{
  font-size: 50px;
  color:#0F298B;
}

#banner p{
  font-size: 25px;
}

#house-search{
  background-color: white;
  border-radius: 20px;
}

#house-search li{
  display:inline-block;
  padding: 20px 20px;
  color:#0F298B;
  font-size: 18px;
  font-weight:500;
  
}

.subtitle{
  text-align: center;
  display: inline-block;
}
